<div class="mt-3">
    <form *ngIf="questionList.length > 0; else noPendingQuestions">
        <h4 class="col-12">
            Here are some of the common questions customer might ask:
        </h4>
        <mat-form-field appearance="outline" class="col-12" *ngFor="let q of questionList">
            <mat-label>{{q.intent_desc}}</mat-label>
            <input matInput [name]="q.id" [(ngModel)]="q.answer" (blur)="onQuestionnaireBlur(q); q.isSaving = q.answer ? true : false;" [disabled]="q.isSaving == true">
            <span matSuffix class="text-info" *ngIf="q.isSaving">saving...</span>
        </mat-form-field>
    </form>
    <ng-template #noPendingQuestions>
        <h4 class="mt-5 text-center">There are no pending questions at this time!</h4>
    </ng-template>
</div>
