<div class="row gradient-primary" style="min-height: 100vh; align-items: center; ">
    <div class="col">
        <div class="card shadow-lg mb-5 bg-white rounded mb-3" style="width: 25rem; margin: 0px auto;">
            <div class="card-header text-center cm-text-secondary" style="margin: 1rem 0.75rem 0; font-size: 1.5rem; background: #fff; line-height: 1.5; border-bottom: 0rem;">
                <span>Log in to your account</span>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                    <div class="row mb-0">
                        <div class="col s12">
                          <div class="row mb-0">
                            <mat-form-field appearance="legacy" class="input-field col s12">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" id="email" ngModel name="email">
                            </mat-form-field>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col s12">
                          <div class="row mb-0">
                            <mat-form-field appearance="legacy" class="input-field col s12">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" id="password" ngModel name="password">
                            </mat-form-field>
                          </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 1.5rem;">
                        <button type="submit" class="btn btn-info btn-block"><b>SIGN IN</b></button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center" style="margin-bottom: 0px;">
                <div class="form-group" style="margin-bottom: 0px;">
                    <label class="cm-text-secondary" for="exampleInputPassword1" style="margin-bottom: 0; padding: 0.375rem; line-height: 1.5;vertical-align: middle;">Don't have an account?</label>
                    <a href="javascript:void(0)" routerLink="/register" class="text-info cm-link-btn" style="padding: 0px">Sign up</a>
                </div>
                <!-- <div class="form-group" style="margin-bottom: 0px;">
                    <span class="text-secondary" style="padding: 0.375rem; line-height: 1.5;vertical-align: middle;">Forgot</span>
                    <button type="button" class="btn btn-link text-primary" style="padding-left: 0px;"> Password?</button>
                </div> -->
            </div>
        </div>
    </div>
</div>
