<div class="layout">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light gradient-primary col-12">
      <a href="javascript:void(0)" class="navbar-brand">
        <span class="cm-brand-logo">
          <strong> Ottobooks </strong>
        </span>
      </a>
      <button
        class="hamburger-btn"
        type="button"
        (click)="isToggle = !isToggle"
      >
        <mat-icon class="menu-btn">menu</mat-icon>
      </button>
      <ul class="nav ml-auto right-nav">
        <li class="nav-item">
          <a
            class="cm-brand-nav-link nav-link"
            href="javascript:void(0)"
            routerLink="/profile"
            routerLinkActive="active"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-fill cm-top-nav-icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
              />
            </svg>
            <span class="cm-nav-top-title">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="cm-brand-nav-link nav-link"
            href="javascript:void(0)"
            (click)="logout()"
            routerLinkActive="active"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-box-arrow-left cm-top-nav-icon"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
              />
              <path
                fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
              />
            </svg>
            <span class="cm-nav-top-title">Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <div class="aside bg-dark" [ngClass]="isToggle ? 'toggle' : ''">
      <a
        class="cm-nav-link"
        href="javascript:void(0)"
        routerLink="/generate"
        routerLinkActive="active"
        (click)="isToggle = !isToggle"
      >
        <span class="cm-nav-title">Generate</span>
      </a>
      <a
        class="cm-nav-link"
        href="javascript:void(0)"
        routerLink="/run"
        routerLinkActive="active"
        (click)="isToggle = !isToggle"
      >
        <span class="cm-nav-title">Run</span>
      </a>
      <a
        class="cm-nav-link"
        href="javascript:void(0)"
        routerLink="/scripts"
        routerLinkActive="active"
        (click)="isToggle = !isToggle"
      >
        <span class="cm-nav-title">Scripts</span>
      </a>
      <a
        class="cm-nav-link"
        href="javascript:void(0)"
        routerLink="/rules"
        routerLinkActive="active"
        (click)="isToggle = !isToggle"
      >
        <span class="cm-nav-title">Rules</span>
      </a>
      <a
        class="cm-nav-link"
        href="javascript:void(0)"
        routerLink="/integration"
        routerLinkActive="active"
        (click)="isToggle = !isToggle"
      >
        <span class="cm-nav-title">Integration</span>
      </a>

      <ul class="bottom-nav">
        <li class="nav-item">
          <a
            class="cm-nav-link"
            href="javascript:void(0)"
            routerLink="/profile"
            routerLinkActive="active"
            (click)="isToggle = !isToggle"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class=""
              viewBox="0 0 20 20"
            >
              <path
                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
              />
            </svg>
            <span class="cm-nav-top-title">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="cm-nav-link"
            href="javascript:void(0)"
            (click)="logout()"
            routerLinkActive="active"
            (click)="isToggle = !isToggle"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class=""
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
              />
              <path
                fill-rule="evenodd"
                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
              />
            </svg>
            <span class="cm-nav-top-title">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
