:host {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.aside {
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.cm-brand-logo {
  color: rgb(64, 71, 71);
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.cm-brand-nav-link {
  display: block;
  padding: 0 0.5rem;
  color: #dbdfdf !important;
}

.cm-brand-nav-link:hover {
  color: #fafafa !important;
  text-decoration: none;
}

.cm-brand-nav-link .cm-nav-title {
  vertical-align: middle;
}

.cm-top-nav-icon {
  margin-bottom: 5px;
}

.cm-nav-top-title {
  padding:10px 5px;
}

.cm-top-nav {
  overflow: auto;
  flex: 1;
}

.cm-nav-link {
  display: block;
  margin: 0;
  color: #bbc0c0;
  padding: 1.25rem 2rem 1.25rem 1rem;
}

.cm-nav-link:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #343535;
}

.cm-nav-link.active {
color: #fafafa;
text-decoration: none;
background-color: #343535;
}

.cm-nav-link .cm-nav-title {
  vertical-align: middle;
}

.cm-nav-title {
  padding-left: 10px;
}

.getting-started-nav {
  display: flex;
}

.gettingExpand {
  color: #bbc0c0;
}

.gettingExpand mat-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
  vertical-align: middle;
}

.cm-nav-link.active .gettingExpand {
  color: #fafafa;
}

.hamburger-btn {
  padding: 0.2rem 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  display: none;
}

.navbar-toggler-icon {
  color: #fafafa;
}

.bottom-nav {
  display: none;
}

.navbar-brand {
  margin-left: 1.5rem;
}


/**************************************************************
******************* RESPONSIVE DESIGN *************************
***************************************************************/
@media screen and (max-width: 768px) {
  .aside {
     display: none;
     flex-basis: 100%;
     flex-grow: 1;
  }

  .menu-btn {
    height: 25px;
    width: 25px;
    font-size: 25px;
    color: rgb(64, 71, 71);
  }

  .toggle {
    display: flex;
  }

  .hamburger-btn {
    display: block;
  }

  .right-nav {
    display: none;
  }

  .bottom-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding:0;
    margin:0;
    border-top: 1px solid #dbdbdb;
  }

  .bottom-nav .nav-item {
    text-decoration: none;
  }

  .cm-nav-link {
    padding-bottom: 0.75rem;
  }

  .navbar-brand {
    margin-left: 0px;
  }
}
