<mat-tab-group
  mat-stretch-tabs
  [selectedIndex]="selectedTab.value"
  (selectedIndexChange)="onSelectedTabHandler($event)"
  class="gs-tabs"
>
  <mat-tab>
    <ng-template mat-tab-label> Company Questions </ng-template>
    <div class="row">
      <div class="col-12 m6" *ngIf="selectedTab.value == 0">
        <app-questionnaire></app-questionnaire>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Product Questions </ng-template>
    <div class="row">
      <div class="col-12 m6" *ngIf="selectedTab.value == 1">
        <app-products></app-products>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
