<div
  class="products d-flex flex-column flex-fill"
  *ngIf="products && products.length > 0; else noproducts"
>
  <div class="product d-flex ml-2 mr-2 mb-3">
    <div class="left-pane w-25 border-right mr-2 p-3">
      <mat-card
        class="mb-2 product-card"
        style="height: 400px"
        color="primary"
        *ngFor="let product of products"
        (click)="selectedProductHandler(product.product_id)"
        [ngClass]="{ active: selectedProductId === product.product_id }"
      >
        <img
          mat-card-image
          src="./../../assets/shopify-logo.png"
          alt="No Image"
          height="240"
        />
        <mat-card-content>
          <p class="product-title">
            {{ product.product_title }}
          </p>
        </mat-card-content>
        <mat-card-header>
          <mat-card-subtitle
            >Product SKU: {{ product.product_sku }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Product ID: {{ product.product_id }}</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
    </div>
    <div class="right-pane d-flex flex-column">
      <mat-tab-group mat-stretch-tabs class="flex-fill right-tabs">
        <mat-tab label="Questions">
          <div class="p-3">Questions</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #noproducts>
  <div class="sessions text-center flex-fill">
    <h6 class="flex-fill text-center pt-5">No products at this time!</h6>
  </div>
</ng-template>
