:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.accountId {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    padding: 5px;
    margin-left: 10px;
    font-weight: 700;
    display: inline;
}

.profile {
  padding: 1.5rem;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
}

.title {
  border-bottom: #eee;
}
