<div class="profile">
  <div class="row">
    <div class="col-12">
      <h4>My Profile</h4>
      <hr class="mt-0"/>
    </div>
      <div class="col-md-5">
          <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <div class="row mb-0">
              <div class="col s12 mb-2">
                <label for="clipboard-example-textarea">Account Id</label>
                <pre id="clipboard-example-textarea" class="accountId">{{profileForm.value.accountId}}</pre>
                <button mat-icon-button
                  [cdkCopyToClipboard]="profileForm.value.accountId"
                  #tooltip="matTooltip"
                  [matTooltip]="copyText"
                  matTooltipPosition="above"
                  matTooltipHideDelay="1000"
                  (click)="copyAccountId('Copied')"
                  (mouseenter) ="copyAccountId('Copy') ">
                  <mat-icon>content_copy</mat-icon>
                </button>
              </div>
              <div class="col s12 mb-2">
                <div class="row mb-0">
                  <mat-form-field appearance="legacy" class="input-field col s6">
                    <mat-label>Company</mat-label>
                    <input matInput id="company" name="company" formControlName="company">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row mb-2">
                <div class="col s12">
                  <div class="row mb-0">
                    <mat-form-field appearance="legacy" class="input-field col s6">
                      <mat-label>First name</mat-label>
                      <input matInput id="firstname" name="firstname" formControlName="firstname">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" class="input-field col s6">
                      <mat-label>Last name</mat-label>
                      <input matInput id="lastname" name="lastname" formControlName="lastname">
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col s12">
                  <div class="row mb-0">
                    <mat-form-field appearance="legacy" class="input-field col s12">
                      <mat-label>Email address</mat-label>
                      <input matInput type="email" id="email" name="email" formControlName="email">
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <button mat-raised-button color="primary" type="button" *ngIf="!isEditMode" (click)="editProfile()">Edit</button>
            <button mat-stroked-button color="primary" type="button" *ngIf="isEditMode" (click)="cancelProfile()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" class="ml-2" *ngIf="isEditMode">Save</button>
          </form>
      </div>
  </div>
</div>
