:host {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.shortcuts {
  overflow: hidden;
}

.shortcut-table {
  overflow: auto;
}

.shortcut-textarea {
  width: 100%;
}

table {
  width: 100%;
}
